/**
MASAS Portal - Stylesheet
Updated: May 10, 2013
Independent Joint Copyright (c) 2011-2013 MASAS Contributors.  Published
under the Modified BSD license.  See license.txt for the full text of the license.
*/

html, body {
    font:normal 12px verdana;
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
}

/* MASAS-X */

.loginHeader {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.loginHeaderBanner {
    background: url("../img/masas-x-main-banner.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 115px;
    padding: 0 20px;
    width: 980px;
}

.loginHeaderTitle {
    margin: 10px 0px 10px 45px;
    padding-top: 20px;
    color: #FFFFFF;
    font-family: Verdana,sans-serif !important;
    letter-spacing: 2px;
    font-size: 250%;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.loginHeaderSlogan {
    margin-left: 45px;
    color: #990000;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    text-align: left;
}

.loginFooter {
    text-align: center;
}

/* MASAS-SICS */



.loginToolsTitle {
    margin: 0px 0px 10px 20px;
    font-weight: bold;
    font-size: 175%;
}

.loginLanguageSwitch {
    text-align: right;
    margin-right: 15px;
}

.loginDeviceType {
    text-align: center;
    margin-top: 75px;
}

.loginDeviceType input {
    margin-left: 50px;
}

.loginDeviceType label {
    letter-spacing: 5px;
}

.loginVersionSwitch {
    text-align: right;
    margin: 25px 5px 0px 0px;
}

.loginVersionSelect select {
    background: transparent;
}

.loginStatusIndicator { margin: 0px 0px 50px 40px; visibility: hidden}

.loginStatusIndicator img { vertical-align: bottom; }

.loginStatusIndicator a:visited { color: blue; text-decoration: none; }


.headerBox { padding: 5px 10px; }

.headerTitle { font-size: 150%; font-weight: bold; }
.headerTitle a:link { color: black; text-decoration: none; }
.headerTitle a:visited { color: black; text-decoration: none; }
.headerTitle a:hover { color: blue; text-decoration: underline; }
.headerTitle a:active { color: black; text-decoration: none; }

.headerDetail {
    padding-left: 15px;
    font-size: 85%;
    font-weight: bold;
}

.logoutBtn { background-image: url("../img/logout.png"); }

.viewBtn { background-image: url("../img/view.png"); }

.closeBtn { background-image: url("../img/abort.png"); }

.entryBtn { background-image: url("../img/entry.png"); }

.alertBtn { background-image: url("../img/cap.png"); }

.modeCell { padding-left: 100px; }

.titleCell {
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;
}

.newBtnCell { padding-left: 7px; }

.otherBtnCell { padding-left: 27px; }

.toolsBodyColor { background-color: white; }

.statusIndicator {
    width: 100px;
    text-align: center;
    line-height: 30px;
}

.statusIndicator img { vertical-align: middle; }

.statusIndicator a:link { color: black; text-decoration: none; }
.statusIndicator a:visited { color: black; text-decoration: none; }
.statusIndicator a:hover { color: blue; text-decoration: underline; }
.statusIndicator a:active { color: black; text-decoration: none; }
