## MASAS Portal Cheetah Template - MASAS-X Welcome Page
## Last modified Jan 13, 2014
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>$site_name - Welcome</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  
  <link href="$resource_url/welcome/welcome.css" type="text/css" rel="stylesheet">
  
  <script src="$resource_url/libs/jquery-1.8.3-min.js" type="text/javascript"></script>
  <script src="$resource_url/libs/swfobject-2.2.js" type="text/javascript"></script>
  <script src="$resource_url/welcome/jquery.jfeed.pack.js" type="text/javascript"></script>
  <script src="$resource_url/welcome/welcome.js" type="text/javascript"></script>

  <script type="text/javascript">

\$(document).ready(function () {
    \$.ajaxSetup({ timeout: 20000 });
    var site_url = 'http://www.masas-x.ca/en/newsroom?format=feed&type=rss';
    var proxy_url = 'ajax/go?url=';
    load_feed(proxy_url + encodeURIComponent(site_url));
    var flash_info = swfobject.getFlashPlayerVersion();
    \$.ajax({ url: '$resource_url/welcome/test.swf?ver=' + flash_info.major +
        '.' + flash_info.minor });
});

  </script>
</head>
<body>

<div class="latestNewsTitle">Latest News &nbsp;&nbsp;
  <img id="newsLoadingIcon" src="$resource_url/welcome/loading-icon.gif" alt="Loading">
</div>

<div id="latestNews"></div>

<div class="statusIndicator">
  <a href="$status_site_url" target="_blank" title="Open Statusboard">System Status:</a>
  &nbsp;<img src="$status_icon_url" alt="N/A" height="16" width="16">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="$data_status_site_url" target="_blank" title="Open Statusboard">Data Sources:</a>
  &nbsp;<img src="$data_status_icon_url" alt="N/A" height="16" width="16">
</div>

<p><span class="sectionTitle">Getting Started - </span> You can view or post
information in three modes:</p>
<ul>
    <li><span class="trainingMode">Training Mode</span> - Used specifically
    to allow you to try every facet of viewing, posting and manipulating
    MASAS-X alerts and entries. Please become familiar with the MASAS-X
    interface in this mode prior to advancing to other modes.</li> 
    <li><span class="exerciseMode">Exercise Mode</span> - Reserved exclusively
    for those conducting or participating in an exercise.</li> 
    <li><span class="operationalMode">Operational Mode</span> - This selection
    is only available to those who have completed basic MASAS-X training and
    MUST only be used to post factual information for viewing and use by other
    MASAS-X participants.</li>
</ul>

<p><span class="sectionTitle">Manage Your Account - </span> Please ensure your
account information is up-to-date. To change your access code or to view/edit your 
account information, click
<a href="https://access.masas-x.ca/accounts/login" target="_blank">HERE</a>.</p>

<p><span class="sectionTitle">Resources - </span> The 
<a href="https://www.masas-x.ca/index.php?user=private&passw=p@ssw0rd" target="_blank">Participant Only Content</a>
section of the MASAS-X website hosts resources including the following:</p>
<ul>
    <li><a href="https://www.masas-x.ca/images/docs/MASAS%20FLEX%20Widget%20Documentation%20-%207%20June-2013.pdf" target="_blank">MASAS-X Flex Viewer Guide</a>
      &nbsp;&nbsp;<em>New</em></li>
    <li><a href="https://portal.masas-x.ca/content/images/Res_Files/masas%20101%20training%20v120225.pdf" target="_blank">MASAS-X Tools Guide</a></li>
    <li><a href="http://vimeopro.com/user18461615/featured-videos" target="_blank">MASAS-X Video Tutorials</a></li>
    <li><a href="https://www.masas-x.ca/index.php?user=private&passw=p@ssw0rd" target="_blank">MASAS-X FAQ</a></li>
</ul>

<p><span class="sectionTitle">Support - </span>
  If you have any issues, ideas, or feedback, please contact us via email at
  <a href="mailto:support@masas-x.ca">support@masas-x.ca</a> or by phone 
  at 613-241-5656 or 1-855-241-5656.
</p>

<br><br>

</body>
</html>