/**
MASAS Portal - Welcome Stylesheet
Updated: Jan 17, 2013
Independent Joint Copyright (c) 2011-2013 MASAS Contributors.  Published
under the Modified BSD license.  See license.txt for the full text of the license.
*/

html, body {
    font: normal 14px verdana;
    margin: 0;
    padding: 0;
    border: 0 none;
}

ul { margin: 0px; padding: 0px 0px 0px 25px; }

li { line-height: 170%; }

/* keeps images sized to the width of the news feed box */
img { max-width: 100%; height: auto; }

.sectionTitle {
    font-weight: bold;
    font-size: 125%;
    padding-left: 10px;
}

#latestNews {
    width: 50%;
    height: 200px;
    padding: 2px;
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
    overflow: auto;
}

.latestNewsTitle {
    padding: 5px 0px 5px 30px;
    font-weight: bold;
}

.atomTitle {
    padding-left: 5px;
    clear: both;
}

.atomUpdated {
    padding-left: 15px;
    font-size: 0.8em;
    color: #999;
}

.recentUpdate { color: #F08080; }

.statusIndicator { margin: 10px 0px 0px 75px; }

.statusIndicator img { vertical-align: bottom; }

.statusIndicator a:visited { color: blue; text-decoration: none; }

.trainingMode {
    border: 1px solid #A9A9A9;
    padding: 2px 27px;
    margin: 5px;
    background-color: #CCD8E7;
    color: white;
    font-weight: bold;
}

.exerciseMode {
    border: 1px solid #A9A9A9;
    padding: 2px 28px;
    margin: 5px;
    background-color: #FFB01F;
    color: white;
    font-weight: bold;
}

.operationalMode {
    border: 1px solid #A9A9A9;
    padding: 2px 15px;
    margin: 5px;
    background-color: #CC2F2F;
    color: white;
    font-weight: bold;
}
